<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="cpuUsageMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <cpuUsageMonitor.Properties.Settings>
            <setting name="autoCheckCPU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoCheckRAM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoCheckAvailableRAM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="color" serializeAs="String">
                <value/>
            </setting>
            <setting name="enablecolor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoCheckDisk" serializeAs="String">
                <value>False</value>
            </setting>
        </cpuUsageMonitor.Properties.Settings>
    </userSettings>
</configuration>
